$primary-color: #f4a261;
$secondary-color: #e9c46a;
$serious-color: #264653;
$less-serious-color: #2a9d8f;
$button-spacing: 10px 20px;
$button-margin: 20px;
$rounded: 20px;
$main-font: Helvetica;
$font-size-secondary: 12px;
